@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Lobster+Two:400,700);

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F5F5F5;
  color: #1E314A;
  font-family: "Helvetica", Arial, serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Lobster two", Georgia, Serif;
  letter-spacing: 1px;
  margin: 10px 0 15px;
}

h2, h3, h4 {
  font-family: "Helvetica", Arial, serif;
  text-transform: uppercase;
  margin: 10px 0 15px;
}

h2 {
  color: #CDA737;
}

p, ul {
  margin: 10px 0;
}

ul li {
  margin-left: 30px;;
}

a {
  color: #CDA737;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid #1E314A;
  padding: 3px;
}

a:hover {
  background-color: #CDA737;
  color: white;
}

a:active {
  position: relative;
  top: 1px;
}

.content-wrapper {
  line-height: 1.4;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 25px;
}

/*
 * HEADER
 */

.header {
  align-items: center;
  background-color: #EFEFEF;
  background-image: url(bg.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top: 4px solid #CDA737;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  min-height: 250px;
  padding: 0 20px;
  position: relative;
  text-align: center;
}

@media only screen and (max-device-width: 420px)  {
  .header {
    background-size: auto 100%;
  }
}

.header:before {
  background: rgba(0, 0, 0, .7);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header * {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 10px black;
}

.header h1 {
  font-size: 5rem;
  font-weight: 100;
}

.header h2 {
  font-size: 2.1rem;
  font-weight: 100;
  margin: 5px 0;
}

/*
 * SKILLS
 */

.skills {
  background: #CDA737;
  color: #F2F5FB;
}
